@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --light_gray: #D9D9D9; /*top_strip*/
  --dark_gray: rgb(70, 70, 70); /*burger_menu*/
  --accent_blue: #069fe6; /*cart_badge*/
  --main_green: #8B9B81;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/*
========Fonts==========
*/
@font-face {
  font-family: 'Encabezados';
  src: url('../../public/fonts/Helvetica.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Cuerpo';
  src: url('../../public/fonts/parrafos.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* ===== COLORES ===== */
  /* Conectar variables CSS con Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main_green: var(--main_green);
  --color-accent_blue: var(--accent_blue);
  --color-light_gray: var(--light_gray);
  --color-dark_gray: var(--dark_gray);

  /* ===== FUENTES ===== */
  --font_heading: 'Encabezados', Arial, Helvetica, sans-serif;
  --font_body: 'Cuerpo', Arial, Helvetica, sans-serif;
}

/*
========================================
COMPONENTES REUTILIZABLES
========================================
*/
@layer components {


  /*==========HEADER --TOP STRIP SCROLL============*/

  @keyframes scrollLeft {
    to {
      transform: translateX(-100%);
    }
  }
  .top-strip {
    @apply flex justify-between bg-light_gray gap-12 overflow-hidden select-none h-8.75;
  }
  .scroll-text{
    @apply flex justify-between items-center gap-12 overflow-hidden whitespace-nowrap shrink-0 text-foreground ;
    animation: scrollLeft 50s linear infinite;
  }

  /* ======= HEADER -- NAVBAR ======== */
  .header{
    @apply sticky top-0 z-50 bg-white border-b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font_body);

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font_heading);
  }
}