@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --light_gray: #D9D9D9; /*top_strip*/
  --buttons-gray-bg: #f0f0f0;
  --buttons-gray-text: #9e9e9e;
  --dark_gray: rgb(70, 70, 70); /*burger_menu*/
  --accent_blue: #069fe6; /*cart_badge*/
  --light-green: #75895D;
  --main_green: #8B9B81;
  --dark-green: #313429;
  --main-banner: #ececec;
  --light-yellow: #f8f7f1;
  --button-green: #41492c;
  /* ig_button_hover */
  --ig-hover-gradient: linear-gradient(45deg, #515bd4, #8134af, #dd2a7b, #f58529);

  /* ===== PADDINGS RESPONSIVOS ===== */
    --padding-mobile: 1rem;
    /* 16px - Mobile */
    --padding-tablet: 1.25rem;
    /* 20px - Tablet (md: 768px) */
    --padding-desktop: 1.5rem;
    /* 32px - Desktop (lg: 1024px) */

    /* ===== MAX-WIDTH ===== */
    --max-width-container: 1400px;
}

/*
========Fonts==========
*/
@font-face{
  font-family: 'Cuerpo';
  src: url('../../public/fonts/parrafos.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* ===== COLORES ===== */
  /* Conectar variables CSS con Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main_green: var(--main_green);
  --color-dark-green: var(--dark-green);
  --color-accent_blue: var(--accent_blue);
  --color-light_gray: var(--light_gray);
  --color-dark_gray: var(--dark_gray);
  --color-ig-hover-gradient: var(--ig-hover-gradient);
  --color-buttons-gray-bg: var(--buttons-gray-bg);
  --color-buttons-gray-text: var(--buttons-gray-text);
  --color-main-banner: var(--main-banner);
  --color-light-green: var(--light-green);
  --color-light-yellow: var(--light-yellow);
  --color-button-green: var(--button-green);

  /* ===== FUENTES ===== */
  --font-heading: Helvetica, Arial, sans-serif;
  --font-body: 'Cuerpo', Arial, Helvetica, sans-serif;

  /* ==== MAX-WIDTH CONTAINER ==== */
  --max-width-container: var(--max-width-container);
}

/*
========================================
COMPONENTES REUTILIZABLES
========================================
*/
@layer components {

  .padding-responsive {
      @apply mx-auto max-w-container;
      padding-left: var(--padding-mobile);
      padding-right: var(--padding-mobile);
  }
  @media (min-width: 768px) {
    .padding-responsive {
      padding-left: var(--padding-tablet);
      padding-right: var(--padding-tablet);
    }
  }
  @media (min-width: 1024px) {
    .padding-responsive {
      padding-left: var(--padding-desktop);
      padding-right: var(--padding-desktop);
    }
  }
  .footer-padding {
    @media(min-width: 1024px){
      @apply mx-auto max-w-container;
      padding-left: var(--padding-desktop);
      padding-right: var(--padding-desktop);
    }
  }

.header {
  @apply fixed top-0 left-0 right-0 w-full z-60 bg-background shadow-md transition-transform duration-300 ease-in-out;
}
  /* ============================================= */
  /*==========HEADER --TOP STRIP SCROLL============*/
  /* ============================================= */
  @keyframes scrollLeft {
    to {
      transform: translateX(-100%);
    }
  }
  .top-strip {
    @apply flex justify-between bg-light_gray gap-12 overflow-hidden select-none h-7;
  }
  .scroll-text{
    @apply flex justify-between items-center gap-12 overflow-hidden whitespace-nowrap shrink-0 text-foreground ;
    animation: scrollLeft 80s linear infinite;
  }
  .scroll-text.paused {
    animation-play-state: paused;
  }

  /* ============================================= */
  /* ============== HEADER -- NAVBAR ============= */
  /* ============================================= */
  .main-header {
    @apply z-70 flex justify-between items-center h-15 md:h-20;
  }
  .logo-container {
    @apply shrink-0 mt-1.5 cursor-pointer;
  }

  .header-mobile-tablet {
    @apply flex justify-between items-center w-full gap-4 md:hidden;
  }
  .header-desktop {
    @apply hidden md:flex md:justify-between md:items-center md:w-full md:gap-8;
  }

  .desktop-navbar{
    @apply hidden md:flex justify-between text-lg;
  }
  .nav-link{
    @apply text-lg transition-all duration-300 ease-out hover:scale-120 relative inline-block;
    @apply after:content-[""] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-0.5 after:bg-dark_gray after:transition-all after:duration-300 after:ease-out hover:after:w-full;
  }
  .nav-link-active{
    @apply font-bold;
  }

  /*======== Dropdown menu styles ======= */
  .dropdown-menu{
    @apply fixed inset-0 bg-background md:hidden z-40;
  }
  .mobile-navbar{
    @apply fixed top-0 left-0 w-full h-full bg-background z-50 md:hidden transform transition-transform duration-300 ease-in-out;
  }

  /* ============================================= */
  /* ================== FOOTER =================== */
  /* ============================================= */
  .footer{
    @apply bg-light_gray;
  }

  /*======== BOTÓN INSTAGRAM  ========== */
  .ig-button{
    @apply px-5 py-3 bg-background cursor-pointer transition-all duration-300 ease-out hover:scale-105 text-foreground;
  }

  .ig-button:hover{
    @apply text-background;
    background: var(--ig-hover-gradient);
  }

  .bg-ig-hover-gradient{
    background: var(--ig-hover-gradient);
  }
  .contact-card{
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-background p-5 flex flex-col gap-5 z-70 rounded-lg shadow-lg w-100 md:w-120 px-10
  }

  /* ============================================= */
  /* ================== SIDECART ================= */
  /* ============================================= */
  /* v2 funciona en mobile */
  .sidecart{
    @apply fixed px-4 w-full inset-y-0 right-0 md:w-120 2xl:w-150 bg-background z-70 transform transition-transform duration-150 ease-in-out;
  }


  .sidecart-button{
    @apply w-full h-15 rounded-2xl font-heading text-lg sm:h-14;
  }
  .backdrop{
    @apply hidden md:block fixed top-0 left-0 right-0 bottom-0 bg-black/50 z-60 transform transition-transform duration-300 ease-in-out;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

