@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --light_gray: #D9D9D9; /*top_strip*/
  --dark_gray: rgb(70, 70, 70); /*burger_menu*/
  --accent_blue: #069fe6; /*cart_badge*/
  --main_green: #8B9B81;

  /* ===== PADDINGS RESPONSIVOS ===== */
    --padding-mobile: 1rem;
    /* 16px - Mobile */
    --padding-tablet: 1.25rem;
    /* 20px - Tablet (md: 768px) */
    --padding-desktop: 1.5rem;
    /* 32px - Desktop (lg: 1024px) */

    /* ===== MAX-WIDTH ===== */
    --max-width-container: 1500px;
    /* 5xl en Tailwind */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/*
========Fonts==========
*/
@font-face {
  font-family: 'Encabezados';
  src: url('../../public/fonts/Helvetica.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Cuerpo';
  src: url('../../public/fonts/parrafos.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* ===== COLORES ===== */
  /* Conectar variables CSS con Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main_green: var(--main_green);
  --color-accent_blue: var(--accent_blue);
  --color-light_gray: var(--light_gray);
  --color-dark_gray: var(--dark_gray);

  /* ===== FUENTES ===== */
  --font_heading: 'Encabezados', Arial, Helvetica, sans-serif;
  --font_body: 'Cuerpo', Arial, Helvetica, sans-serif;

  /* ==== MAX-WIDTH CONTAINER ==== */
  --max-width-container: var(--max-width-container);
}

/*
========================================
COMPONENTES REUTILIZABLES
========================================
*/
@layer components {


  /*==========HEADER --TOP STRIP SCROLL============*/

  @keyframes scrollLeft {
    to {
      transform: translateX(-100%);
    }
  }
  .top-strip {
    @apply flex justify-between bg-light_gray gap-12 overflow-hidden select-none h-8.75;
  }
  .scroll-text{
    @apply flex justify-between items-center gap-12 overflow-hidden whitespace-nowrap shrink-0 text-foreground ;
    animation: scrollLeft 80s linear infinite;
  }

  /* ======= HEADER -- NAVBAR ======== */
  .header{
    @apply sticky top-0 z-50 bg-white border-b;
  }
    .main-header {
      @apply flex justify-between items-center mx-auto max-w-container h-15;
      padding-left: var(--padding-mobile);
      padding-right: var(--padding-mobile);
    }

    @media (min-width: 768px) {
      .main-header {
        @apply h-20;
        padding-left: var(--padding-tablet);
        padding-right: var(--padding-tablet);
      }
    }

    @media (min-width: 1024px) {
      .main-header {
        padding-left: var(--padding-desktop);
        padding-right: var(--padding-desktop);
      }
    }
  .desktop-navbar{
    @apply hidden md:flex justify-between text-lg;
  }
  .nav-link{
    @apply text-lg transition-all duration-300 ease-out hover:scale-120 relative inline-block;
    @apply after:content-[""] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-0.5 after:bg-dark_gray after:transition-all after:duration-300 after:ease-out hover:after:w-full;
  }
  .nav-link-active{
    @apply font-bold;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font_body);

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font_heading);
  }
}